/* changing style for menu bar so it is actually usable */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
/* changing button style */
  button {
      background-color: rgb(133, 133, 133);
      padding: 20px;
      display: block;
      margin: auto;
      margin-top: 2em;
  }
/* adding border and centering divs for list page */
  div {
    border-style: double;
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 2em;
  }
/* removing border for main div to avoid weirdness */
  #list {
    border-style: none;
  }